{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Tes connecteer</h1>
        </div>
    </div>
{% endblock %}
