<div class="form-inline my-2 my-lg-0">
    {{ form_start(form) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control mr-sm-2', 'placeholder': "Carotte, boulgour, ...", 'aria-label': 'search'}}) }}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    {{ form_end(form) }}
</div>
