{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <!--Slider Start-->
    <section id="home-slider" class="owl-carousel owl-theme wf100">
        <div class="item">
            <div class="slider-caption h2slider">
                <div class="container">
                    <strong>Ecova<span> vous permez de trouver des</span></strong>
                    <h1>produits locaux</h1>
                    <p>Dynamiques Alimentaires Connectées</p>
                    <a href="/produits" class="active">Les produits</a> <a href="/producteurs">Les producteurs</a>
                </div>
            </div>
            <img src="images/h2-slide1.jpg" alt="">
        </div>
        <div class="item">
            <div class="slider-caption h2slider">
                <div class="container">
                    <strong><span></span>Prix plus </strong>
                    <h1>équitables</h1>
                    <p><strong>pour les Producteurs</strong></p>
                    <a href="/produits" class="active">Les produits</a> <a href="/producteurs">Les producteurs</a>
                </div>
            </div>
            <img src="images/h2-slide2.jpg" alt="">
        </div>
        <div class="item">
            <div class="slider-caption h2slider">
                <div class="container">
                    <strong>Respectueux de <span> </span> </strong>
                    <h1>l'environnement</h1>
                    <p> <strong>et des animeaux</strong> </p>
                    <a href="/produits" class="active">Les produits</a> <a href="/producteurs">Les producteurs</a>
                </div>
            </div>
            <img src="images/h2-slide3.jpg" alt="">
        </div>
    </section>
    <!--Slider End-->

    {#
    <!--Service Area Start-->
    <section class="services-area wf100">
        <div class="container">
            <ul>
                <!--box  start-->
                <li>
                    <div class="sinfo">
                        <img src="images/sericon1.png" alt="">
                        <h6>Recycling</h6>
                        <p>Waste Management</p>
                    </div>
                </li>
                <!--box  end-->
                <!--box  start-->
                <li>
                    <div class="sinfo">
                        <img src="images/sericon2.png" alt="">
                        <h6>Wind Energy</h6>
                        <p>Polar, Prevailing, Tropical</p>
                    </div>
                </li>
                <!--box  end-->
                <!--box  start-->
                <li>
                    <div class="sinfo">
                        <img src="images/sericon3.png" alt="">
                        <h6>Pure Water</h6>
                        <p>Save Water Resources</p>
                    </div>
                </li>
                <!--box  end-->
                <!--box  start-->
                <li class="sinfo">
                    <div class="sinfo">
                        <img src="images/sericon4.png" alt="">
                        <h6>Solar Panels</h6>
                        <p>Save Natural Engery</p>
                    </div>
                </li>
                <!--box  end-->
                <!--box  start-->
                <li>
                    <div class="sinfo">
                        <img src="images/sericon5.png" alt="">
                        <h6>Forest Planting</h6>
                        <p>Make Plants Alive for Life</p>
                    </div>
                </li>
                <!--box  end-->
            </ul>
        </div>
    </section>
    <!--Service Area End-->
    #}

    <!--About Section Start-->
    <section class="home2-about wf100 p100 gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="video-img"> <a href="https://youtu.be/iI4ml__ynTU&amp;width=700" data-rel="prettyPhoto" title="Youtube video"><i class="fas fa-play"></i></a> <img src="images/h2about.jpg" alt=""> </div>
                </div>
                <div class="col-md-7">
                    <div class="h2-about-txt">
                        <h3>À propos d'ecova</h3>
                        <h2>Mise en relation entre clients et producteurs</h2>
                        <p> Notre objectif est de permettre de manger des produits locaux, tout en faisant en sorte que les prix soient justes, autant pour le client que pour le producteur.</p>
                        <a class="aboutus" href="#">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-facts counter pt80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                            <p class="counter-count">18</p>
                            <p class="ctxt">Producteurs</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                            <p class="counter-count">35</p>
                            <p class="ctxt">Produits</p>
                        </div>
                    </div>
                </div>
                <style>
                    div.counter-box:after {
                        width: 150px;
                    }
                </style>
            </div>
        </div>
    </section>
    <!--About Section End-->
    {#
    <!--Urgent Causes Start-->
    <section class="urgent-causes wf100 p80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title-2 white">
                        <h5>Urgent Cause</h5>
                        <h2>Stop Global Warming</h2>
                    </div>
                    <p> We need your support and help to Stop Globar Warning. Few generations ago it to seemed like the world’s resources were infinite, and the people needed only. </p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <ul class="funds">
                        <li class="text-left"><strong>73%</strong> Funded</li>
                        <li class="text-center"><strong>$948.00</strong> Raised</li>
                        <li class="text-right"><strong>$1750.00</strong> Required</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!--Urgent Causes End-->
    #}

    <!--Current Projects Start-->
    <section class="wf100 p80 current-projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title-2">
                        <h5></h5>
                        <h2>Quelques produits:</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    {#
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" id="wildlife-tab" data-toggle="tab" href="#wildlife" role="tab" aria-controls="wildlife-tab" aria-selected="true">Wildlife</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="water-tab" data-toggle="tab" href="#water" role="tab" aria-controls="water-tab" aria-selected="false">Water Resources</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="solar-tab" data-toggle="tab" href="#solar" role="tab" aria-controls="solar-tab" aria-selected="false">Solar Energy</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="recycling-tab" data-toggle="tab" href="#recycling" role="tab" aria-controls="recycling-tab" aria-selected="false">Recycling</a> </li>
                    </ul>
                    #}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content" id="myTabContent">
                        <!--WildLife Slider Start-->
                        <div class="tab-pane fade show active" id="wildlife" role="tabpanel" aria-labelledby="wildlife-tab">
                            <div class="cpro-slider owl-carousel owl-theme">
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/Farmeetic/legumes/carotte.jpg" alt="">
                                        <h5>Carrotes</h5>
                                        <div class="pro-hover">
                                            <h6>Carrotes</h6>
                                            <p>12€/Kg</p>
                                            <p>Marc O'Ricard</p>
                                            <a href="#">Plus d'info</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/Farmeetic/legumes/boulgour.jpg" alt="">
                                        <h5>Boulgour</h5>
                                        <div class="pro-hover">
                                            <h6>Boulgour</h6>
                                            <p>3€/Kg</p>
                                            <p>Karim Boulgour</p>
                                            <a href="#">Plus d'info</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro3.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro4.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro5.jpg" alt="">
                                        <h5>Forest & Tree Planting</h5>
                                        <div class="pro-hover">
                                            <h6>Forest & Tree Planting</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro6.jpg" alt="">
                                        <h5>Recycling & Waste Management</h5>
                                        <div class="pro-hover">
                                            <h6>Recycling & Waste Management</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro7.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro8.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                            </div>
                        </div>
                        <!--WildLife Slider End-->
                        <!--Water Resources Slider Start-->
                        <div class="tab-pane fade" id="water" role="tabpanel" aria-labelledby="water-tab">
                            <div class="cpro-slider owl-carousel owl-theme">
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro5.jpg" alt="">
                                        <h5>Forest & Tree Planting</h5>
                                        <div class="pro-hover">
                                            <h6>Forest & Tree Planting</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro6.jpg" alt="">
                                        <h5>Recycling & Waste Management</h5>
                                        <div class="pro-hover">
                                            <h6>Recycling & Waste Management</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro7.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro8.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro1.jpg" alt="">
                                        <h5>Forest & Tree Planting</h5>
                                        <div class="pro-hover">
                                            <h6>Forest & Tree Planting</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro2.jpg" alt="">
                                        <h5>Recycling & Waste Management</h5>
                                        <div class="pro-hover">
                                            <h6>Recycling & Waste Management</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro3.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro4.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                            </div>
                        </div>
                        <!--Water Resources Slider End-->
                        <!--Solar Energy Slider Start-->
                        <div class="tab-pane fade" id="solar" role="tabpanel" aria-labelledby="solar-tab">
                            <div class="cpro-slider owl-carousel owl-theme">
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro7.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro8.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro5.jpg" alt="">
                                        <h5>Forest & Tree Planting</h5>
                                        <div class="pro-hover">
                                            <h6>Forest & Tree Planting</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro6.jpg" alt="">
                                        <h5>Recycling & Waste Management</h5>
                                        <div class="pro-hover">
                                            <h6>Recycling & Waste Management</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro3.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro4.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro1.jpg" alt="">
                                        <h5>Forest & Tree Planting</h5>
                                        <div class="pro-hover">
                                            <h6>Forest & Tree Planting</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro2.jpg" alt="">
                                        <h5>Recycling & Waste Management</h5>
                                        <div class="pro-hover">
                                            <h6>Recycling & Waste Management</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                            </div>
                        </div>
                        <!--Solar Energy Slider End-->
                        <!--Recycling Slider Start-->
                        <div class="tab-pane fade" id="recycling" role="tabpanel" aria-labelledby="recycling-tab">
                            <div class="cpro-slider owl-carousel owl-theme">
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro7.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro8.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro3.jpg" alt="">
                                        <h5>Solar & Wind
                                            Energy
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Solar & Wind
                                                Energy
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro4.jpg" alt="">
                                        <h5>Saving Wildlife
                                            & their Cubs
                                        </h5>
                                        <div class="pro-hover">
                                            <h6>Saving Wildlife
                                                & their Cubs
                                            </h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro1.jpg" alt="">
                                        <h5>Forest & Tree Planting</h5>
                                        <div class="pro-hover">
                                            <h6>Forest & Tree Planting</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                                <!--Pro Box-->
                                <div class="item">
                                    <div class="pro-box">
                                        <img src="images/current-pro2.jpg" alt="">
                                        <h5>Recycling & Waste Management</h5>
                                        <div class="pro-hover">
                                            <h6>Recycling & Waste Management</h6>
                                            <p>We are working over 20 years on Waste Management & Material Recycling Projects.</p>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Pro Box End-->
                            </div>
                        </div>
                        <!--Recycling Slider End-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Current Projects End-->
    <!--News & Articles Start-->
    <section class="h2-news wf100 p80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title-2">
                        <h5>Read Our Latest</h5>
                        <h2>News & Articles</h2>
                    </div>
                </div>
                <div class="col-md-6"> <a href="#" class="view-more">View More News</a> </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-post-large">
                        <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/h2news1.jpg" alt=""></div>
                        <div class="post-txt">
                            <ul class="post-meta">
                                <li><i class="fas fa-calendar-alt"></i> 29 September, 2018</li>
                                <li><i class="fas fa-comments"></i> 134 Comments</li>
                            </ul>
                            <h5><a href="#">Planting Trees for Better Future</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--Blog Small Post Start-->
                    <div class="blog-small-post">
                        <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/h2news2.jpg" alt=""> </div>
                        <div class="post-txt">
                            <span class="pdate"> <i class="fas fa-calendar-alt"></i> 29 September, 2018</span>
                            <h5><a href="#">How you can keep alive wildlife long.</a></h5>
                            <p>According to a survey the perceived higher cost of environmentally.</p>
                            <a href="#" class="rm">Read More</a>
                        </div>
                    </div>
                    <!--Blog Small Post End-->
                    <!--Blog Small Post Start-->
                    <div class="blog-small-post">
                        <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/h2news3.jpg" alt=""> </div>
                        <div class="post-txt">
                            <span class="pdate"> <i class="fas fa-calendar-alt"></i> 29 September, 2018</span>
                            <h5><a href="#">The effort GoGreen has been felt across</a></h5>
                            <p>Majority have suffered alteration in some form by injected humour.</p>
                            <a href="#" class="rm">Read More</a>
                        </div>
                    </div>
                    <!--Blog Small Post End-->
                </div>
            </div>
        </div>
    </section>
    <!--News & Articles End-->

   {% endblock %}
