
header img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    background-color: #33691e;
}

h3{
    margin-top: 25px;
}

.title-list{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
}

.bg-green {
    background-color: #1b5e20;
}

.btn-success {
    background-color: #33691e;
    border: #1b5e20;
}

.btn-primary {
    background-color: #33691e;
    border: #1b5e20;
}

.carousel .carousel-item h1 {
    position: absolute;
    bottom: 42%;
    left: 15%;
    background-color: transparent;
    font-weight: bold;
}

.farm-card .card-content {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20%;
    background-color: transparent;
    font-weight: bold;
}

.img-border {
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
    .info {
        flex-direction: column;
    }
}

.card-perso {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .laBarre {
        display: none;
    }
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.plus-de-produits {
    margin-top: 30px;
}

.center {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #1b5e20 !important;
    padding-top: 10px;
    padding-bottom: 15px
}

footer div p {
    color: #FFFFFF !important;
}

#hr1 {
    width: 15em
}

#hr2 {
    width: 10em
}

#hr3 {
    width: 7em
}

footer p {
    color: white
}

footer h6 {
    font-weight: bold;
    font-size: 25px
}

footer a {
    color: white;
    text-decoration: none
}

footer a:hover {
    color: white;
    text-decoration: underline
}

.card-perso {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .laBarre {
        display: none;
    }
}

/**
 * Carte
 */

.map {
    height: 70vh;
    width: 60vw;
    margin: 20vh 10vw
}

/**
 * Formulaire
 */
input.enter {
    background: #fff;
    border: 1px solid #cccccc;
    height: 52px;
    line-height: 50px;
    width: 100%;
    padding: 0 5px;
    border-radius: 3px;
}

input.form-control {
    height: 53px;
    line-height: 51px;
    border-color: #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

button.register {
    width: 50%;
    border: 0;
    border-radius: 5px;
    line-height: 53px;
    background: #66bb6a;
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

button {
    background: #1b5e20;
    color: #fff;
}

ul.row {
    margin: 0 -15px 0;
    padding: 0;
    list-style: none;
}

.addProduct {
    margin: 120px 0;
}