{% extends 'base.html.twig' %}

{%  block body %}

<div style="margin-top: 200px;margin-bottom: 200px; width: 70%;margin-left: 15%">
    <h1>
        Abonné vous a la newsletter du site !
    </h1>
    
    {{ form_start(formEmail) }}
        {{ form_row(formEmail.email, {'attr': {'placeholder':"email@exemple.com", 'class' : "form-control"}}) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(formEmail) }}
    
</div>
<style>
    ul{
        list-style: none;
    }
    li{
        color: red;
    }
</style>

{% endblock %}