
<h1>Bienvenue {{ firstName }} sur Farmeetic!</h1>

<p>
    You signed up as {{ firstName }} the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Click here to activate your account</a>
</p>