{% extends 'base.html.twig' %}

{%  block body %}

<div style="margin-top: 200px;margin-bottom: 200px; width: 70%;margin-left: 15%">
    <h1>
        Vous vennez de vous desabonner de la newsletter de Farmeetic.
    </h1>
					<a href="/" class="btn btn-success" style="width: 20%; margin-left: 40%; margin-top: 100px;">Accueuil</a>
</div>
{% endblock %}